{% extends "base.html" %}

{% block meta %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% if error == "error-password-username" %}
<div class="alert alert-danger">
  <strong>Error!</strong> Wrong username or password combination
</div>
{% elif error == "email-error" %}
<div class="alert alert-danger">
  <strong>Error!</strong> Email already exists
</div>
{% elif error == "password-error" %}
<div class="alert alert-danger">
  <strong>Error!</strong> Passwords don't match
</div>
{% elif error == "expired-code-error" %}
<div class="alert alert-danger">
  <strong>Error!</strong> Passwords don't match
</div>
{% elif error == "mew-pass-set" %}
<div class="alert alert-info">
  <strong>Info!</strong> New password has been set, you can now login
</div>
{% else %}

{% endif %}
<div class="col-sm-6">
  <h1> Login</h1>
<form action="./login/validate_login" method="post">

<div name="manual login">
<ul class="list-group" style="margin-left:5px;">
  <li class="list-group-item">

  </br>
  <div class="row">
    <div class="col-sm-6">
      Email:
    </div>
    <div class="col-sm-6">
      <input type="text" name="email" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      Password:
    </div>
    <div class="col-sm-6">
      <input type="password" name="password" required>
    </div>
  </div></br>
  <div class="row">
  <div class="col-sm-4">
 <button type="submit" id="submit" class="btn btn-success pull-right" style="margin-right:5px;"value="Submit"> Submit </button>
</div>
</form>
<form action="./login/reset_pass" method="get">
  <div class="col-sm-4">
    <button type="submit" id="submit" class="btn btn-primary pull-right" style="margin-right:5px;"value="Submit"> Reset Password </button>
  </div>
  </div>
</form>
</li>
</ul>
</div>


</div>



{% endblock %}

{% block script %}
{% endblock %}
