{% extends "base.html" %}

{% block meta %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<div class="col-sm-6">
  <h1> Reset Password</h1>
<form action="./login/reset_pass" method="POST">

<div name="manual login">
<ul class="list-group" style="margin-left:5px;">
  <li class="list-group-item">

  </br>
  <div class="row">
    <div class="col-sm-6">
      Email:
    </div>
    <div class="col-sm-6">
      <input type="text" name="email" required>
    </div>
  </div>
</br>
  <div class="row">
 <button type="submit" id="submit" class="btn btn-success pull-right" style="margin-right:5px;"value="Submit"> Submit </button>
</div>
</form>
</li>
</ul>
</div>


</div>


{% endblock %}

{% block script %}
{% endblock %}
